<div [ngStyle]="{
    'background-image': 'url(' + image + ')', 
    'background-size': 'cover',
    'padding-top': '500px',
    'background-position': 'center'
    }" 
    class="padding-huge">

    <div style="max-width:500px; margin: auto">
        <app-paragraph-title 
        text={{title}} 
        class="align-center margin-small"
        color="{{textColor}}">
    </app-paragraph-title>
        <app-paragraph 
        text={{text}} 
        class="align-center"
        color="{{textColor}}"
        type="secondary">
    </app-paragraph>
    </div>
</div>