<div class="align-center margin-huge">
    <h3>Client Testimonials</h3>
    <div class="flex-horizontal">
        <app-testimonial 
        image="../../../assets/images/image-emily.jpg"
        name="Emily R."
        role="Marketing Director"
        quote="We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit."></app-testimonial>
        <app-testimonial
        image="../../../assets/images/image-thomas.jpg"
        name="Thomas S."
        role="Chief Operating Officer"
        quote="Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience."></app-testimonial>
        <app-testimonial
        image="../../../assets/images/image-jennie.jpg"
        name="Jennie F."
        role="Business Owner"
        quote=" Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!"></app-testimonial>
    </div>
</div>