<footer class="padding-huge align-center">
    <div><app-site-title></app-site-title></div>
    <app-button label="About" type="footer"></app-button>
    <app-button label="Services" type="footer"></app-button>
    <app-button label="Projects"type="footer"></app-button>
    <div class="socials">
        <app-social type="facebook"></app-social>
        <app-social type="instagram"></app-social>
        <app-social type="twitter"></app-social>
        <app-social type="pinterest"></app-social>
    </div>
</footer>