$unit: map-get($tokens, 'unit');
$fontsize: map-get($tokens, 'font-size');
$colors: map-get($tokens, 'colors');
$fonts: map-get($tokens, 'fonts');

:root {
  /* colors */
  @each $color in $colors {
      //for every color, create a css variable with its type as name and color as value
      $type: map-get($color, 'type');
      $category: map-get($color, 'category');
      $value: map-get($color, 'color');

      $class: "--" + $type;
      #{$class}: #{$value};
      
    }

    @each $font in $fonts {
      $type: map-get($font, 'type');
      $family: map-get($font, 'family');

      $class: "--" + $type;
      #{$class}: #{$family};
    }
}
