$unit: map-get($tokens, 'unit');
$fontsize: map-get($tokens, 'font-size');
$colors: map-get($tokens, 'colors');
$fonts: map-get($tokens, 'fonts');

:root {
  /*! colors */
  @each $color in $colors {
      //for every color, create a css class with its type as name and color property as color
      $type: map-get($color, 'type');
      $category: map-get($color, 'category');
      $value: map-get($color, 'color');

      $class: "--" + $type;
      #{$class}: #{$value};
      
    }
}