<div class="grid-horizontal-four">
    <app-image css="full-width" title="Milkbottles" source="../../../assets/images/desktop/image-gallery-milkbottles.jpg"></app-image>
    <app-image css="full-width" title="Orange" source="../../../assets/images/desktop/image-gallery-orange.jpg"></app-image>
    <app-image css="full-width" title="Icecream Cone" source="../../../assets/images/desktop/image-gallery-cone.jpg"></app-image>
    <app-image css="full-width" title="Sugarcubes" source="../../../assets/images/desktop/image-gallery-sugarcubes.jpg"></app-image>
</div>