@import 'app/tokens';
@import 'app/functions';
@import 'text';
@import 'buttons';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--barlow);
    font-size: 1rem;
}

/* UTILITY */

.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-vertical {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.grid-horizontal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: space-between;
}

.padding-small {
    padding: 0.5rem;
}

.padding-medium {
    padding: 1rem;
}

.padding-large {
    padding: 2rem;
}

.padding-huge {
    padding: 6rem;
}

.margin-small {
    margin: 0.5rem;
}

.margin-medium {
    margin: 1rem;
}

.margin-large {
    margin: 2rem;
}

.margin-huge {
    margin: 6rem;
}

.margin-vertical-medium {
    margin: 1rem 0;
}

.full-width {
    width: 100%;
    vertical-align: middle;
}

.min-height {
    height: max-content;
}

.sticky {
    position: sticky;
}

.rounded {
    border-radius: 50%;
    overflow: hidden;
}