:root {
  /* colors */
  --soft-red: hsl(7deg, 99%, 70%);
  --yellow: hsl(51deg, 100%, 49%);
  --dark-cyan: hsl(167deg, 40%, 24%);
  --dark-blue: hsl(198deg, 62%, 26%);
  --moderate-cyan: hsl(168deg, 34%, 41%);
  --very-dark-blue: hsl(212deg, 27%, 19%);
  --very-dark-grayish-blue: hsl(213deg, 9%, 39%);
  --dark-grayish-blue: hsl(232deg, 10%, 55%);
  --grayish-blue: hsl(210deg, 4%, 67%);
  --white: hsl(0deg, 0%, 100%);
  --barlow: Barlow, sans-serif;
  --fraunces: Fraunces, serif;
}

/** UTILITY: Colors **/
.soft-red {
  color: var(--soft-red);
}

.soft-red-background {
  background-color: var(--soft-red);
}

.yellow {
  color: var(--yellow);
}

.yellow-background {
  background-color: var(--yellow);
}

.dark-cyan {
  color: var(--dark-cyan);
}

.dark-cyan-background {
  background-color: var(--dark-cyan);
}

.dark-blue {
  color: var(--dark-blue);
}

.dark-blue-background {
  background-color: var(--dark-blue);
}

.moderate-cyan {
  color: var(--moderate-cyan);
}

.moderate-cyan-background {
  background-color: var(--moderate-cyan);
}

.very-dark-blue {
  color: var(--very-dark-blue);
}

.very-dark-blue-background {
  background-color: var(--very-dark-blue);
}

.very-dark-grayish-blue {
  color: var(--very-dark-grayish-blue);
}

.very-dark-grayish-blue-background {
  background-color: var(--very-dark-grayish-blue);
}

.dark-grayish-blue {
  color: var(--dark-grayish-blue);
}

.dark-grayish-blue-background {
  background-color: var(--dark-grayish-blue);
}

.grayish-blue {
  color: var(--grayish-blue);
}

.grayish-blue-background {
  background-color: var(--grayish-blue);
}

.white {
  color: var(--white);
}

.white-background {
  background-color: var(--white);
}

/* barlow */
.barlow-600 {
  font-family: var(--barlow);
  font-weight: 600;
}

/* fraunces */
.fraunces-700 {
  font-family: var(--fraunces);
  font-weight: 700;
}

.fraunces-900 {
  font-family: var(--fraunces);
  font-weight: 900;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin: 100px;
}

h2 {
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: 2rem;
  color: var(--very-dark-blue);
}

p {
  color: var(--dark-grayish-blue);
  line-height: 160%;
  font-size: 1.1rem;
}

button {
  border: none;
  background: none;
}

.navigation button {
  background: none;
  color: var(--white);
  border-radius: 24px;
  transition: 0.3s;
}
.navigation button.primary {
  background: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--fraunces);
  width: 120px;
}
.navigation button.primary label {
  transition: 0.3s;
  color: var(--very-dark-blue);
}
.navigation button:hover {
  background-color: rgba(250, 250, 250, 0.4);
  cursor: pointer;
}
.navigation button:hover label {
  color: var(--white);
  cursor: pointer;
}

.learn-more {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.learn-more a:link {
  font-family: var(--fraunces);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: var(--very-dark-blue);
  position: relative;
  z-index: 99;
}
.learn-more div {
  width: 100%;
  height: 10px;
  background-color: var(--yellow);
  border-radius: 5px;
  margin-top: -8px;
  opacity: 0.3;
  transition: opacity 0.3s;
}
.learn-more:hover div {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--barlow);
  font-size: 1rem;
}

/* UTILITY */
.flex-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-content: space-between;
}

.padding-small {
  padding: 0.5rem;
}

.padding-medium {
  padding: 1rem;
}

.padding-large {
  padding: 2rem;
}

.margin-small {
  margin: 0.5rem;
}

.margin-medium {
  margin: 1rem;
}

.margin-large {
  margin: 2rem;
}

.margin-vertical-medium {
  margin: 1rem 0;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.full-width {
  width: 100%;
  vertical-align: middle;
}

.min-height {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}/*# sourceMappingURL=styles.css.map */