<div class="grid-horizontal padding-medium sticky">
    <app-site-title class="float-left"></app-site-title>
    <div class="align-right">
        <app-button
        label="About"
        type="navigation">
        </app-button>
        <app-button
            label="Services"
            type="navigation">
        </app-button>
        <app-button
            label="Projects"
            type="navigation">
        </app-button>
        <app-button 
            label="Contact"
            type="primary">
        </app-button>
    </div>
</div>