<app-header></app-header>
<div>
    <app-learn-more 
    image="../../../assets/images/desktop/image-transform.jpg" 
    [imageLeft]="false"
    color="var(--yellow"
    text="We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you."></app-learn-more>
    <app-learn-more 
    image="../../../assets/images/desktop/image-stand-out.jpg"
    [imageLeft]="true"
    color="var(--soft-red)"
    text="Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places."></app-learn-more>

    <div class=grid-horizontal>
        <app-text-on-image 
        image="../../../assets/images/desktop/image-graphic-design.jpg"
        textColor="var(--dark-cyan)"
        text=" Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention."
        ></app-text-on-image>
        <app-text-on-image 
        image="../../../assets/images/desktop/image-photography.jpg"
        textColor="var(--dark-blue)"
        text="Increase your credibility by getting the most stunning, high-quality photos that improve your business image."></app-text-on-image>
    </div>
    <app-testimonials></app-testimonials>
</div>
<app-footer></app-footer>